#h1 {
  text-align: center;
}

/* #wells1 {
  text-align: center;
} */

.difficulty_level {
  text-align: center;
}

#easy {
  width: 200px;
  height: 100px;
}

#hard {
  width: 200px;
  height: 100px;
}
#h3 {
  text-align: center;
}
